* {
    box-sizing: border-box;
  }
  body {
    width: 1024px;
    height: 512px;
    margin: 16px auto;
    background-color:blue;
    border: 2px solid black;
    border-radius: 16px;
    display: grid;
    grid-template-columns: 255px 255px 255px 255px;
    grid-template-rows: auto;
    grid-template-areas:
      'header header header header'
      'nav nav nav nav'
      'main main main aside'
      'footer footer footer footer';
  }
  header,
  nav,
  main,
  aside,
  footer {
    background-color: yellow;
    color: black;
    border: 2px solid black;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em 3px 30px 5px;  /*  arriba    1em  padding  */
    /*  derecha  3px  padding  */
    /*  abajo 30px padding  */
    /*  izquierda   5px  padding
/* en dirección de las agujas del reloj */

    
    
  }
  header {
    grid-area: header; 
    height: auto;
    
  }
  nav {
    grid-area: nav;
    height: auto;
    
  }
  main {
    grid-area: main;
    height: auto;
  }
  aside {
    grid-area: aside;
    height: 900px;
  }
  footer {
    grid-area: footer;
    height: auto;
  }
  h1 {
    text-align: center;
    font-family: 'Lora', serif;
    font-size: 2rem;
    color: purple;
  }
  .parrafos {
    font-family: 'Space Mono', monospace;
    font-size: 1rem;
    color:blue;
  }
  li {
    color:blue;
  }
  .foto19 {
    padding: 10px; margin: 10px; border: 2px solid black; float: center; width: 250px;
  }